@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: "Space Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.space-mono-regular {
  font-family: var(--font-mono);
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: var(--font-mono);
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: var(--font-mono);
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: var(--font-mono);
  font-weight: 700;
  font-style: italic;
}

.font-host-grotesk {
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}