@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: "Space Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.space-mono-regular {
  font-family: var(--font-mono);
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: var(--font-mono);
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: var(--font-mono);
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: var(--font-mono);
  font-weight: 700;
  font-style: italic;
}
